<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>graphr_ios.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>graphrsBundle.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>graphrsBundleIOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>graphrsTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>graphrs_osx.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>libGraphrs.a.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1881C88F1CB7C22D00FFADA3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1881C8991CB7C2F700FFADA3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18ADB6511CAD0E8D003FA9CE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18ADB65B1CAD0E8F003FA9CE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18ADB6FB1CAD0F63003FA9CE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18ADB7361CAD3608003FA9CE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18ADB73F1CAD3608003FA9CE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18ADB7541CAD398B003FA9CE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
